BeautifulSoup==3.2.1
Pillow==2.7.0
Pygments==2.0.2
backports.ssl-match-hostname==3.4.0.2
bpython==0.13.2
certifi==2015.04.28
cssselect==0.9.1
gevent==1.0.2
goose-extractor==1.0.25
greenlet==0.4.9
jieba==0.35
lxml==3.4.1
nltk==3.0.1
psycopg2==2.6.1
requests==2.5.1
six==1.9.0
tornado==4.2.1
websocket==0.2.1
websocket-client==0.32.0
wsgiref==0.1.2
